html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 130px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: 0px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 180px;
	background-color: #222222;
	border-top: 3px solid #b27d6d;
	color: #bf8f60;
}

.footer p {
	padding-top: 60px;
}

.float-right {
	float: right;
}

.brand-title-sm {
	display: none;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
	color: #bf8f60;
	transition: 300ms;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover {
	color: #f7f3ee;
}

.navbar-brand img {
	border-radius: 50%;
	margin-top: -5px;
}

.top-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), /*url('https://d256619kyxncpv.cloudfront.net/gui/site/img/landing/speakeasy/v2/cover_desktop2.jpg');*/
	url('imgs/whisky_case.jpg');
	color: #bf8f60;
	/*background-attachment: fixed; */
	background-position: center;
/*	background-repeat: no-repeat; */
	background-size: cover;
	height: 50vh;
	top: 50%;
	left: 50%;
	border-bottom: 3px solid #b27d6d;
}



.fees {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
		url('imgs/whiskey_bar_alcohol_glass_scotch_drink_bourbon_nightclub-1341551.jpg');
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fees h1 {
	padding-top: 20vh;
}

.fees-p {
	color: #f7f3ee;
}

.header h1 {
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 20vh;
}

.header h1::after {
	content: '';
	height: 3px;
	display: block;
	width: 60%;
	background: #b27d6d;
	margin: 0 auto;
}

.navbar {
	background-color: #222222;
	color: #bf8f60;
	border-bottom: 1px solid #b27d6d;
}

.cream-white {
	background-color: #f7f3ee;
}

.members {
	padding: 50px 0;
}

.members h1 {
	padding: 20px 0px;
}

.bg-dots {
	background: url(https://d256619kyxncpv.cloudfront.net/gui/site/img/backgrounds/dots.png) #F7F3EE;
	background-size: auto auto;
	background-size: 8px auto;
}

.brothers-lg {
	font-family: 'Old Standard TT', serif;
	font-size: 72px;
	line-height: 68px !important;
	color: #C29C78;
	font-weight: 900;
	text-transform: uppercase;
}

.brothers-md {
	font-family: 'Old Standard TT', serif;
	font-size: 48px;
	line-height: 48px !important;
	color: #C29C78;
	font-weight: 900;
	text-transform: uppercase;
}

.brothers {
	font-family: 'Old Standard TT', serif;
	text-transform: uppercase;
}

.brothers-norm {
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.5em;
}

.color-black {
	color: #000;
}

.color-coffee {
	color: #bf8f60;
}

.history {
	padding: 50px 0;
}

.reviews {
	padding: 50px 0;
}

.reviews h1 {
	padding: 20px 0;
}

.history h1 {
	padding: 20px 0px;
}

.footer-logo {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	z-index: 1;
	border: 3px solid #b27d6d;
	position: absolute;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
}

.tasting {
	padding: 50px 0;
}

.tasting h1 {
	padding: 20px 0;
}

.card {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.card-profile {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	background-color: #000;
	transition: 500ms;
}

.card-profile:hover {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-profile h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 0;
	margin-bottom: 0;
}

.card-profile .title {
	color: #000;
	font-size: 1.2em;
	padding-bottom: 15px;
}

.card-profile button {
	font-family: 'Old Standard TT', serif;
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: #bf8f60;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #222222;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card-profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	z-index: 1;
	border: 3px solid #b27d6d;
	left: 50px;
}

.card-profile-info {
	background-color: #fff;
}

.card-profile a{
	text-decoration: none;
	font-size: 22px;
	color: black;
}

.card-profile button:hover, .card-profile a:hover {
	opacity: 0.95;
}

.reviews .card {
	font-family: 'Old Standard TT', serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.reviews .card-title {
	font-weight: 600;
	font-size: 28px;
}

.reviews .card-subtitle {
	font-weight: 500;
	font-size: 12px;
}

.reviews .card-text {
	font-weight: 600;
}

.associate_logo {
	display: block;
	margin: auto;
	width: inherit;
	padding: 20px 40px;
}

.buz_logos {
	padding: 50px 0;
}


/*** Top Drinks Styles ***/
.topdrinks {
	padding: 60px 0;
}

.topdrinks-header {
	padding-bottom: 10px;
}

.checked {
	color: orange;
}

.drink_card {
	padding: 10px 20px;
}

.drink_review_card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	min-height: 352px;
}

.drink_image {
	margin-top: 20px;
}

.drink_image .bottle_preview {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}

.jim-beam {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
}

.drink_text {
	padding-top: 20px;
	padding-left: 20px;
}

.drink_text h3 {
	font-weight: 600;
	padding-right: 20px;
}

.drink_text p {
	padding: 10px 20px 10px 0px;
}

.drink_text a {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}

@media(max-width: 850px) {
	.top-header {
		height: 70vh;
	}
}

@media(max-width: 768) {
	.top-header {
		height: 50vh;
	}
}

@media(max-width: 550px) {
	.top-header {
		height: 50vh;
	}
	.header h1 {
		padding-top: 100px;
	}
	.fees {
		padding-left: 0px;
	}
	.fees h1 {
		padding-top: 12vh;
	}
	body {
		margin-bottom: 160px;
	}
	.footer {
		height: 160px;
	}
	.brand-title-lg {
		display: none;
	}
	.brand-title-sm {
		display: inline;
	}
	.brothers-lg {
		font-size: 42px;
		line-height: 42px !important;
	}
}
